/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Accordion Styles */
.accordion {
    margin: 30vh 0 0;
}
.accord {
    margin:15px;
}

.acc {
    background-color: #f2f2f2;
    color: #333;
    cursor: pointer;
    border: 0.5px solid rgb(124, 33, 33);
    text-align: left;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 20px;
}

.acc:hover {
    color: #920d0e;
    background-color: #ebd2d2;
    border: 2px solid #920d0e;
}

.panel {
    display: none;
    background-color: #ffffff;
    /* border: 1px solid #000000; */
}

.list {
    margin: 25px 10px 10px;
    padding-left: 100px;
    list-style: none;
    /* padding-right: 20px; */
}

.list li {
    padding: 2px;
    font-size: 17px;
    font-weight: 500;
}
.list li:first-child {
    margin-top: 5vh;
}
.list li a {
    font-size: 18.2px;
    color: #962f2f;
}
.list li a:hover {
    font-size: 18.2px;
    color: #bd4141;
}

/* Show content when active */
.active {
    display: block;
    /* max-height: 20px; */
}